<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>选课操作页面</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/course_preview.css">
</head>

<body>
    {% import "header.html" as h_add%}
    {{ h_add.header() }}
    <div id="main">
        <p>选课操作</p>
        <ul id="course">
            <li id="tip">
                <span class="cname">课程名称</span>
                <span class="ctype">课程类型</span>
                <span class="ctime">上课时间</span>
                <span class="cplace">上课地点</span>
                <span class="tname">课程教师</span>
                <span class="credit">学分</span>
                <span class="cnum">人数</span>
                <span class="campus">校区</span>
            </li>
            {% for course in course_li %}
            <li cid="{{course.id}}" tid="{{course.tid}}">
                <span class="cname">{{course.cname}}</span>
                <span class="ctype">{{course.ctype}}</span>
                <span class="ctime">{{course.ctime}}</span>
                <span class="cplace">{{course.croom}}</span>
                <span class="tname">{{course.tname}}</span>
                <span class="credit">{{course.credit}}</span>
                <span class="cnum">{{course.cnum}}</span>
                <span class="campus">{{course.caname}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% import "footer.html" as f_add%}
    {{ f_add.footer() }}
</body>

</html>