<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>成绩查看页面</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/achievement_get.css">
</head>

<body>
    {% import "header.html" as h_add%}
    {{ h_add.header() }}
    <div id="main">
        <p>成绩查看</p>
        <ul id="stu">
            {% for course in course_li %}
                <div>课程：{{course.cname}}</div>
                <li class="tip">
                    <span class="collegename">学院</span>
                    <span class="classname">班级</span>
                    <span class="sno">学号</span>
                    <span class="sname">姓名</span>
                    <span class="grade">分数</span>
                    <span class="gradepoint">绩点</span>
                    <span class="credit">学分</span>
                    <span class="isgreat">是否有效</span>
                </li>
                {% for achi in course["achi_li"] %}
                <li sid="{{achi.sid}}" cid={{achi.cid}}>
                    <span class="collegename">{{achi.student.college.collname}}</span>
                    <span class="classname">{{achi.student.classes.clname}}</span>
                    <span class="sno">{{achi.student.sno}}</span>
                    <span class="sname">{{achi.student.sname}}</span>
                    <span class="grade">{{achi.grade}}</span>
                    <span class="gradepoint">{{achi.gradepoint}}</span>
                    <span class="credit">{{achi.credit}}</span>
                    <span class="isgreat">{{achi.isgreat}}</span>
                </li>
                {% endfor %}
                <br>
            {% endfor %}
        </ul>
    </div>
    {% import "footer.html" as f_add%}
    {{ f_add.footer() }}
</body>

</html>