<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>任教课程页面</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/tea_course.css">
    <script type="text/javascript" src="/static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel='stylesheet' href='/static/css/bootstrap/css/bootstrap.min.css' />
    <script type="text/javascript" src="/static/css/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" ,content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    {% import "header.html" as h_add%}
    {{ h_add.header() }}
    <div id="main">
        <p>任教课程</p>
        <ul id="course">
            <li id="tip">
                <span class="cname">课程名称</span>
                <span class="ctype">课程类型</span>
                <span class="ctime">上课时间</span>
                <span class="cplace">上课地点</span>
                <span class="credit">课程学分</span>
                <span class="campus">开课校区</span>
                <span class="ispass">是否通过</span>
                <span class="isexamine">是否审核</span>
                <span class="isend">是否结课</span>
            </li>
            {% for course in course_li %}
            <li cid="{{course.id}}" tid="{{course.tid}}">
                <span class="cname">{{course.cname}}</span>
                <span class="ctype">{{course.ctype}}</span>
                <span class="ctime">{{course.classweek}}&nbsp;{{course.classtime}}</span>
                <span class="cplace">{{course.classplace}}</span>
                <span class="credit">{{course.credit}}</span>
                <span class="campus">{{course.campus}}</span>
                <span class="ispass">{{course.ispass}}</span>
                <span class="isexamine">{{course.isexamine}}</span>
                <span class="isend">{{course.isend}}</span>
                <input class="selbox" type="checkbox" name="cid" value="{{course.id}}">
            </li>
            {% endfor %}
        </ul>
        <div id="func">
            <div>
                <button id="reverse_all" class="btn">反选/</button>
                <button id="check_all" class="btn">全选</button>
                <button id="refuse" class="btn btn-danger">结课</button>
            </div>
        </div>
    </div>
    {% import "footer.html" as f_add%}
    {{ f_add.footer() }}
    <script src="/static/js/tea_course_now.js"></script>
</body>

</html>