#index{
    padding: 0px 40px;
}

#notice{
    height: 200px;
    width:400px;
}

#index span{
    display: block;
    width: 400px;
    font-size: 20px;
    color: #0088cc;
    text-align: center;
}

#index div{
    width: 400px;
    text-align: center;
}

#index button{
    padding: 5px 20px;
    margin: 0px 20px;
}

#chpwd{
    padding: 0px 40px;
}

#chpwd span{
    display: block;
    width: 200px;
    font-size: 15px;
    color: #0088cc;
    text-align: center;
}

#chpwd input{
    margin: 10px 0px;
    padding: 5px 0px;
}

#chpwd button{
    margin: 10px 20px;
}

.mybtn{
    width: 200px;
    text-align: center;
}

#creadmin{
    width: 200px;
    text-align: center;
}

#addadmin{
    padding: 40px;
    width: 200px;
    text-align: center;
}

#side{
    display: inline-block;
    float: right;
    width: 300px;
    height: 460px;
    border: #08c solid 1px;
    margin-right: 20px;
}

#side p{
    text-align: center;
    color: #08c;
    font-size: 22px;
    margin: 10px 0px;
}

