#main{
    text-align: left;
    height: 500px;
    cursor: pointer;
}

#user{
    height: 70px;
    line-height: 70px;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: cadetblue;
    color: #ffffff;
}


#exit{
    display: none;
    padding: 20px 0px;
    text-align: center;
}

#exit span{
    font-size: 25px;
    color: #08c;
}

#exit button{
    margin: 0px 20px;
    padding: 5px 10px;
}


#quit{
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    color: #ffffff;
}

#nav{
    display: inline-block;
    width: 200px;
    height: 500px;
    padding: 0px 40px 0px 10px;
    text-align: center;
}

#nav li{
    list-style-type: none;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0px;
}

#show{
    display: inline-block;
    width: 200px;
    text-align: center;
    border-left: 2px solid #0088cc;
    margin-top: 50px;
    vertical-align: top;
}

#show li{
    list-style-type: none;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0px;
}