#main{
    height: 640px;
    text-align: center;
}

#main p{
    font-size: 25px;
    color: #0088cc;
    margin: 10px;
}

#tip{
    font-size: 22px;
    color: #ffffff;
    background-color: cadetblue;
}

#main ul{
    margin: 0px auto;
    width: 1400px;
    height: 550px;
    padding: 0px;
    overflow: auto;
}

li{
    list-style: none;
    text-align: left;
    font-size: 16px;
    margin: 2px 0px;
    background-color: rgb(142, 187, 202)
}

.cname{
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 2px 10px;
}

.ctype{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 2px 10px;
}

.ctime{
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 2px 10px;
}

.cplace{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 2px 10px;
}

.credit{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 2px 10px;
}

.campus{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 2px 10px;
}

.ispass{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 2px 10px;
}

.isexamine{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 2px 10px;
}

.isend{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 2px 10px;
}

.selbox{
    height: 14px;
    width: 14px;
}

#func{
    height: 50px;
    line-height: 50px;
}

#func button{
    padding: 5px 20px;
    margin: 0px 20px;
}


