<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Handle not allowed</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/nav_index.css">
    <style>
        body {
            background-color: cadetblue;
        }
        h2{
            text-align: center;
            height: 400px;
            padding-top: 200px;
            color: #fff;
        }
    </style>
</head>

<body>
    {% import "header.html" as h_add%}
    {{ h_add.header() }}
    <h2>{{ message }}</h2>
    {% import "footer.html" as f_add%}
    {{ f_add.footer() }}
</body>

</html>